<nav>
    <div class="nav-wrapper indigo accent-2">
        <ul class="left hide-on-med-and-down">
            <li>
                <a href="#" data-activates="slide-out" class="button-collapse-custom">Абонент<i class="material-icons left">menu</i></a>
            </li>

            <li class="active">
                <a class="dropdown-button" href="#!" data-activates="dropdown1">
                    Аккаунт<i class="material-icons right">arrow_drop_down</i>
                </a>
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="{{ path('fos_user_change_password') }}">Смена пароля</a></li>
                    <li>
                        <a href="#!" class="subdropdown-button" data-activates="secondDRP">Пользователи</a>
                        <ul id='secondDRP' class='dropdown-content secondDropDown'>
                            <li><a class="truncate" href="{{ path('fos_user_registration_register') }}">Добавить</a></li>
                            <li><a class="truncate" href="{{ path('change_user_password') }}">Сменить пароль пользователя</a></li>
                            <li><a class="truncate" href="{{ path('block_user') }}">Заблокировать</a></li>
                        </ul>
                    </li>
                    <li><a href="#exit_modal">Выход из системы</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown2">Управление номерами<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">Пакет сим-карты</a></li>
                    <li><a href="#!">Мобильные номера</a></li>
                    <li><a href="#!">Карты оплаты</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-button" href="#!" data-activates="dropdown_9">Статистика продаж<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="dropdown_9" class="dropdown-content">
                    <li><a href="#">Недельная</a></li>
                    <li><a href="#">Месячная</a></li>
                    <li><a href="#">Квартальная</a></li>
                    <li><a href="#">Настраиваемая</a></li>
                </ul>
            </li>
            <li><a href="#">Настройка сервисов</a></li>
        </ul>
    </div>
</nav>

<div id="exit_modal" class="modal modal-exit">
    <div class="modal-content center-align">
        <p>Выйти из системы?</p>
    </div>
    <div class="modal-footer center-align exit-wrap">
        <a href="{{ path('fos_user_security_logout') }}" class="modal-action modal-close waves-effect waves-green btn-flat">Да</a>
        <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat">Нет</button>
    </div>
</div>