<ul id="slide-out" class="side-nav">

    <li><a href="{{ path('homepage') }}">Поиск абонента</a></li>
    <li><a href="{{ path('abonent_show_transactions') }}">Транзакции</a></li>
    <li><a href="{{ path('abonent_show_detalization') }}">Детализация абонента</a></li>
    <li><a href="{{ path('abonent_personification') }}">Регистрация абонента</a></li>

    {#<li><div class="divider"></div></li>#}
    {#<li>#}
        {#<a class="dropdown-button" href="#!" data-activates="sidebar_dropdown_3">Управление абонентом<i class="material-icons right">arrow_drop_down</i></a>#}
        {#<ul id="sidebar_dropdown_3" class="dropdown-content">#}
            {#<li><a href="{{ path('homepage') }}">Поиск абонента</a></li>#}
            {#<li><a href="{{ path('abonent_show_transactions') }}">Транзакции</a></li>#}
            {#<li><a href="{{ path('abonent_show_detalization') }}">Детализация абонента</a></li>#}
            {#<li><a href="{{ path('abonent_personification') }}">Регистрация абонента</a></li>#}
        {#</ul>#}
    {#</li>#}

    {#<li>#}
        {#<a class="dropdown-button" href="#!" data-activates="sidebar_dropdown_4">Управление группой<i class="material-icons right">arrow_drop_down</i></a>#}
        {#<ul id="sidebar_dropdown_4" class="dropdown-content">#}
            {#<li><a href="#">Поиск корпоративной группы </a></li>#}
            {#<li><a href="#">Перевод абонента</a></li>#}
            {#<li><a href="#">Транзакции</a></li>#}
            {#<li><a href="#">Изменение типа абонента</a></li>#}
        {#</ul>#}
    {#</li>#}

</ul>
